# Coffee style class

snippet class "CoffeeScript style class"
${1:class_name} = (function () {
  function $1(${2:argument}) {
    ${VISUAL}$0
  }

  return $1;
})();
endsnippet

# Anonymous Function

snippet func "Anonymous function" i
function(${1}) {
  ${0}
}
endsnippet

